language: python
python:
    - "2.6"
    - "2.7"
    - "3.2"

branches:
    only:
        - master
        - develop

install:
    - "pip install -r requirements.txt --use-mirrors"

script: nosetests
